<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trombin O'clock</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Trombin O'clock</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/promos">Promos</a></li>
                <% if(locals.session.login) { %>
                    <li><a href="/admin/student/add">Ajouter un étudiant</a></li>
                    <li>Bonjour <%=session.login%></li>
                    <li><a href="/logout">Se déconnecter</a></li>
                <% } else { %>
                    <li><a href="/login">Se connecter</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <main>